@import sass/mixins/_frameless.scss
@import "compass"
@import "compass/typography/lists/bullets"
@import "compass/css3/text-shadow"
@import "compass/css3/border-radius"

$h-padding: 12px
$v-padding: 8px

=default_padding
  padding: $v-padding $h-padding

body
  background: radial-gradient(#000 15%, rgba(0,0,0,0) 16%) 0 0, radial-gradient(black 15%, rgba(0,0,0,0) 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, rgba(0,0,0,0) 20%) 0 1px, radial-gradient(rgba(255,255,255,0.1) 15%, rgba(0,0,0,0) 20%) 8px 9px
  background: -webkit-radial-gradient(black 15%, transparent 16%) 0 0, -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
  background-color: #282828
  background-size: 16px 16px
  font-family: Helvetica, Verdana, Arial, Sans

#doc
  +width(6)
  border: 1px solid black
  margin: 0 auto
  height: 500px
  background: rgba(0,0,0,0.3)


#hd
  background-color: #45484d
  @include filter-gradient(#45484d, #000000, vertical)
  @include background-image(linear-gradient(top,  #45484d 0%,#000000 100%))
  border-bottom: 1px solid #333

#site-title
  color: white
  font-weight: bold
  display: block
  text-decoration: none
  letter-spacing: 0.08em
  padding: 18px 12px

.CategoryListView
  
  ul
    +no-bullets

  .category
    background-color: #ffffff
    @include filter-gradient(#ffffff, #ffffff, vertical)
    +background-image(linear-gradient(top, #ffffff 0%,#f2f2f2 50%,#eaeaea 51%,#ffffff 100%))
    border-bottom: 1px solid #666

    &:hover
      background-color: #b8e1fc
      @include filter-gradient(#b8e1fc, #bdf3fd, vertical)
      @include background-image(linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%))
      color: #FFFFFF
      background-color: #499bea
      @include filter-gradient(#499bea, #207ce5, vertical)
      @include background-image(linear-gradient(top,  #499bea 0%,#207ce5 100%))

    a
      color: inherit
      text-decoration: none
      +default_padding
      display: block
      font-size: 0.8em

.QuestionView
  border-bottom: 1px solid #666
  +default_padding
  font-size: 0.8em
  color: #222
  background-color: #000000
  @include filter-gradient(#000000, #45484d, vertical)
  @include background-image(linear-gradient(top,  #000000 0%,#45484d 100%))

  .question
    margin-bottom: $v-padding
    color: #CCC
    letter-spacing: 0.05em
    font-weight: bold

  .options
    +no-bullets

    .option
      display: block
      background: #DDD
      border: 1px solid #444
      border-bottom: none
      color: #FFFFFF
      background-color: #979797
      @include filter-gradient(#979797, #686868, vertical)
      @include background-image(linear-gradient(top,  #979797 0%,#777777 50%,#717171 51%,#686868 100%))

      &.positive
        color: #17300A
        color: #FFFFFF
        background-color: #39dd39
        @include filter-gradient(#39dd39, #2edc2e, vertical)
        @include background-image(linear-gradient(top,  #39dd39 0%,#23cd23 50%,#21c321 51%,#2edc2e 100%))

        //+single-text-shadow( rgba(0,0,0,0.5), 0, 0, 2px )

      &.negative
        background: #E98681
        //color: #4C211F
        color: #FFFFFF  
        background-color: #e14d4d
        @include filter-gradient(#e14d4d, #df4343, vertical)
        @include background-image(linear-gradient(top,  #e14d4d 0%,#db2929 50%,#d42424 51%,#df4343 100%))

      a
        display: block
        color: inherit
        +default-padding
        text-decoration: none

      &:first-child
        +border-top-radius( $h-padding / 2 )

      &:last-child
        +border-bottom-radius( $h-padding / 2 )
        border-bottom: 1px solid #888
  
.RecommendationListView
  ul
    +no-bullets

    li
      background-color: #ffffff
      @include filter-gradient(#ffffff, #ffffff, vertical)
      +background-image(linear-gradient(top, #ffffff 0%,#f2f2f2 50%,#eaeaea 51%,#ffffff 100%))
      border-bottom: 1px solid #666

      &:hover
        background-color: #b8e1fc
        @include filter-gradient(#b8e1fc, #bdf3fd, vertical)
        @include background-image(linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%))
        color: #FFFFFF
        background-color: #499bea
        @include filter-gradient(#499bea, #207ce5, vertical)
        @include background-image(linear-gradient(top,  #499bea 0%,#207ce5 100%))

      a
        color: inherit
        text-decoration: none
        +default_padding
        display: block
        font-size: 0.8em
